<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the requested file/folder does NOT exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect everything to index.html
  RewriteRule ^ index.html [L]
</IfModule>
