.worldmap {
  background-image: url('../Images/dotted-world-map-white-background_132079-967.jpg');
  background-size: center;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 400px; 
  width: 100%;
}

.certiface-box {
    width: 68%;
    height: 275px;
    background-color: #0744c5;
    border-radius: 12px;
}

.studentcertlogo{
    width: 45%;
}