.slider-wrapper {
  width: 100%;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.discover-text{
  font-size: 55px;
  font-weight: bold;
}
.interimages{
  width: 75px;
  height: 60px;
}
.intertexts{
  font-size: 19px;
  white-space: nowrap; 
  margin-top: 29px;  
   
}

@media (max-width: 756px) {
  .connectingstudent {
    background-color: gainsboro;
    border-radius: 0px 0 0px 0 !important;
    position: relative;
    margin-top: 10%;
}
  
}