.personaltext{
    font-size: 20px;
}
.userprofile-icon{
    font-size: 38px;
    color: aqua;
}

.form-box{
    border-radius: 12px;
    border: 1px solid beige;
}

.formboxmain{
    border-radius: 12px;
    border: 1px solid bisque;
}

.profileimageuplode{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}