.Trendingcategory{
    background-color: #ffde5f;
}

.jobcards{
    background-color:#0744c5 ;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.jobarrow{
    color: #01cdcd;
    font-size: 35px;
}
.jobimage {
  width: 60%;
  height: 80px; /* Adjust this as needed */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 
  border-radius: 129px 100px 110px 0px;/* Optional: gives a soft rounded box */
}

.jobimageicons {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.viewmore{
    background-color: #01cdcd;
    border-radius: 20px 20px 0px 0px;
    font-size: 20px;
}