body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --primary-color: #0058c5;
  --secondary-color: #01cdcd;
  --text-dark: #333333;
  --text-light: #ffffff;
  --background-light: #f8f9fa;
  --danger-color: #dc3545;
  --primary-color-two:#e7e7f1;
  --primary-color-three:#efeff5;
  --yellow-color-:#ffde5f;
  --graylightshadow-:#ececec;
  --formcontactbackground-:#f3f2ec;
}